.test{
	height:270px;
}
/* Carousel Styling */
.slide1{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-407f3.appspot.com/o/image%2FBanners%2Ffooter-banner-about.jpg?alt=media&token=506d0c0f-a7e4-47f2-a1fb-fed7ecd854a7');
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide2{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-407f3.appspot.com/o/image%2FBanners%2Fheader-banner-about.jpg?alt=media&token=782cf45d-acd9-4013-95bb-294a4f552252');
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide3{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-407f3.appspot.com/o/image%2FBanners%2Ffooter-banner-about.jpg?alt=media&token=506d0c0f-a7e4-47f2-a1fb-fed7ecd854a7g');
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.carousel-caption h1{
	font-size: 5.4em;
	font-family: 'Pacifico', cursive;
	padding-bottom: .4em;
}
.carousel-caption p{
	font-size: 2em;
}