
body {
	background: #CCCCCC;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

@media (max-width: 1439px) {
	#page-wrap {
		 background: #EEEEEE;
		 width: 100%;
		 margin: 0 auto;
	}
}

@media (min-width: 1440px) {
	#page-wrap {
		 background: #EEEEEE;
		 width: 1440px;
		 margin: 0 auto;
	}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.clearboth {
	clear: both;

}
#icon {
	float: left;
	padding: 15px 15px;
	
	
}

#icon img {
	width: 129px;
	height: 43px;
}

#cart {
	background: white;
	float: right;
	padding: 20px 20px;
}

#cart img {
	height: 100px;
	width: 100px;
}

#underline {
	width: 160px;
	height: 2px;
	position: relative;
	top: -20px;
	background-color: #000000;
	transition: left 0.0s;
	clear: left;
	left: 0px;

}

nav {
	background-color: #FFFFFF;
}

.menu-item {
	width: 40px;
	display: block;
    float: right;
    text-align: center;
    padding: 30px 16px;
    background-color: #FFFFFF;

}

.menu-item a {
    color: #666;
    text-decoration: none;
}



.header-banner {
	position: relative;
	background-image: url("/images/Banners/header_banner_store.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top bottom;
	background-color: rgba(255,0,0,0);
	text-align: center;
}

.banner-text-heading {
   color: #FFFFFF;
   font-size: 32pt;
   padding: 13% 0 4% 0;
}

.banner-text {
    color: #FFFFFF; 
    padding-top: 2.5%;
    padding-bottom: 2%;
    font-size: 16pt;
}

 .header-banner button {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 11.1%;
  	font-size: 12px;
	height: 35px;
   	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	background-color: #CCCCCC;
  	border: none;
  	border-radius: 5px;
}



.feature { 
	background-color:#EEEEEE;
}

.feature-main-text {
    text-align: center;
    padding-top:6.5%;
    padding-bottom: 1%;
    font-size: 15pt;
    color: black;
	padding-left:20%;
	padding-right:20%
}

.feature-text {
    text-align: center;
    padding-top:6.5%;
    padding-bottom: 1%;
    font-size: 20pt;
    color: black;
}

.feature-container { 
    background-color: #EEEEEE;
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 55px;
    width: 70%;
    margin: auto;

} 

.feature-box {
	float: left;
	height: 410px;
	width: 290px;
	margin-right: auto;
	margin-left: 1.75%;
	margin-bottom: 2%;
	background-color: #FFFFFF;
	
}

.feature-empty {
	float: left;
	height: 410px;
	width: 290px;
	margin-right: auto;
	margin-left: 1.75%;
	margin-bottom: 2%;
	background-color: #EEEEEE;
}

.feature-box img {
	display: block;
	margin:0 auto;
	width: 260px;
	height: 223px;
	margin-top: 10%;
}


.feature-box-model {
	text-align: center;
	margin-top: 10%
}

.feature-box-price {
	text-align: center;
}

.feature-box button {
	display: block;
	margin: 0 auto;
	font-size: 12px;
  	padding: 10px 25px;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	background-color: #FFFFFF;
  	border: 2px solid #e7e7e7;
  	border-radius: 5px;
}

.footer-banner {
	position: relative;
	background-image: url("/images/Banners/footer-banner-store.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: rgba(255, 0, 0, 0);
	text-align: center;
	
}

.footer {
	height: 50px;
	background-color: #FFFFFF;
	padding: 30px 30px;
}

.footer p {
	float: left;
	bottom: 5%;
}

.footer-list {
	list-style-type: none;
    padding: 0;
    overflow: hidden;
	
}

#follow {
	margin-top: 5px;
	width: 80px;
	display: block;
    float: left;
}

.social {
	width: 36px;
	display: block;
    float: left;
}


.social img {
	margin: 0 auto;
	width: 32px;
	height: 32px;
}

.footer-menu-item {
    width: 60px;
    display: block;
    float: right;
    text-align: center;
    margin-left: 16px;
  
}


.footer-menu-item a {
    color: #666;
    text-decoration: none;
}

h2{
	text-align:center;
	float:inherit;
}

.feature-1{
	border:hidden;
}

.feature-2{
	border:hidden;
}

.feature-3{
	border:hidden;
}
